.input-group .form-control {
    width: 100%;
    margin-bottom: 0;
}
#foodItems img{
    width: 300px;

}
#foodItems{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 25px;

}
#foodDetails Img{
    width: 100%;
}
#foodDetails{
     width: 300px; 

    margin:50px auto;


    
}
#foodItems h5{
    text-align: center;
}

#noFoodFound{
    display: none;
}

.msgText{
    margin-top: 100px;
    margin-left: 150px;
    display: inline-block;
}
#noFoodFound{
    border-radius: 10px;
}